:root{
    --color-text--normal:#858585;
    --color-text--ligth:#cb44bc;
    --color-background:#382e6d;
    --color-background--body:#26284a;
    ---color-backgroung--hero:#fff;
    ---color--title--:#cb44bc;
    ---color--subtitle--: black;
    ---color--navbar---: #fdf1f1;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f9f6f6;
    font-family: 'Montserrat' cursive;
}

img {
    max-width: 100%;
}

/*=======
 * Hero *
========*/
.hero{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    background-image: linear-gradient(180deg, rgb(255 255 255 / 1%), rgba(255 255 255 / 1) 85%),radial-gradient(ellipse at top left, rgba(13 110 253 / 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(255 228 132 / 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(112 44 249 / 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(214 51 132 / 0.5), transparent 50%);
}

/*=======
 * NavBar *
========*/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fdf1f1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.navbar .logo {
    padding-left: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.navbar .logo i {
    font-size: 1.5rem;
}

.navbar .logo span {
    font-weight: 700;
    font-size: 1.2rem;
}

.navbar ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

.navbar ul li {
    border-bottom: 2px solid transparent;
    transition: .2s ease-in-out;
}

.navbar ul li:hover {
    border-color: #7a44cb;
}

.navbar ul a {
    color: #cb44bc;
    text-decoration: none;
    font-size: 1.1rem;
}


@media (max-width: 768px) {
.navbar ul {
    position: fixed;
    top: -100%;
    width: 100%;
    padding: 5rem 0 3rem;
    background-color: #fff;
    border-radius: 0 0 50% 50%;
    flex-direction: column;
    transition: .3s ease-in-out;
}

.navbar ul.active {
    top: 0;
}

.navbar ul .icon-x {
    position: absolute;
    top: 1rem;
    right: 20px;
    width: 2.7rem;
    height: 2.7rem;
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
    background-color: #fbd488;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }
}

.navbar button {
    background-color: #feb9f6;
    border: none;
    margin-right: 20px ;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease-in-out;
}

/*=======
 * Hero *
========*/

.hero .circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: rgb(141,19,253);
    background: linear-gradient(132deg, rgba(141,19,253,.02) 26%, rgba(108,15,243,.17) 100%);
    transform: translateY(-50%) translateX(-50%);
}

.cont__content {
    position: relative;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.hero .circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url('../img/profile.png');
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    transform: translateY(-50%) translateX(-50%);
}

.cont__info {
    text-align: center;
    color: var(---color--title--);
    margin-top: 25rem;
}

.cont__info h1 {
    font-size: 1rem;
}

.cont__info h3 {
    font-style: italic;
    font-weight: 400;
    font-size: .75rem;
}

/*==============
 * Acerca de mi *
===============*/

.about {
    padding: .75rem 10px;
    text-align: center;
    height: 100%;
    margin-top: 0;
   
}

.about-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;   
   
}

.about p {
    color: black;
    padding: 0 20px 0 20px;
    font-size: 1rem;
   
}

/*==============================================================
 * Section modifica ek tamañp de la seccion  background-color: #fff7da;
===============================================================*/
.section {
   /* height: 50vh;*/
    padding: 1rem 0 2.5rem;
    
}

.section-habilidades{
    /*  height: 30vh;*/
    padding: 1.5rem 0 2rem;
}

.section-slider{
    
   /*  height: 30vh;*/
    margin-top: 1rem;
    padding: 1rem 0 2rem;
}


.section-color{
     background-color: #f0d4e7;
     margin-bottom: 20px;
}

.section-content{
    margin-top: 10px; 
   
 }
 

.section-container {
    padding: 0 20px;
    max-width: 1024px;
    margin: 0 auto;
   
}

.section-title {
    text-align: center;
    color: var(--color-text--ligth);
    padding: .5rem;
}
.title-fondo{
    color: white;
}

.reveal{
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
/*==============================================================
 * Mis Habilidades
===============================================================*/

.container {
    position: relative;
    width: 60%;
    margin: 0px auto 20px auto;
    perspective: 1000px;
    display: flex;
    place-content: center;
    height: 10rem;
}

.carousel {
    position: relative;
    width: 65%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}
  
.carousel_face {
    position: absolute;
    top: 1rem;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
}
  
.carousel_content {

    font-size: 5rem;
}
.carousel_p {
    margin: 0;
    font-size: 1.6rem;
}
.carousel_content i{
    font-size: 1.6rem;
}
  
.carousel_face:nth-child(1) {
    transform: rotateY(0deg) translateZ(15rem);
}
  
.carousel_face:nth-child(2) {
    transform: rotateY(60deg) translateZ(15rem);
}
  
.carousel_face:nth-child(3) {
    transform: rotateY(120deg) translateZ(15rem);
}
  
.carousel_face:nth-child(4) {
    transform: rotateY(180deg) translateZ(15rem);
}
  
.carousel_face:nth-child(5) {
    transform: rotateY(240deg) translateZ(15rem);
}
  
.carousel_face:nth-child(6) {
    transform: rotateY(300deg) translateZ(15rem);
}
  
@media only screen and (max-width: 580px) {
.carousel_face:nth-child(1) {
    transform: rotateY(0deg) translateZ(10rem);
}
  
.carousel_face:nth-child(2) {
    transform: rotateY(60deg) translateZ(10rem);
}
  
.carousel_face:nth-child(3) {
    transform: rotateY(120deg) translateZ(10rem);
}
  
.carousel_face:nth-child(4) {
    transform: rotateY(180deg) translateZ(10rem);
}
  
.carousel_face:nth-child(5) {
    transform: rotateY(240deg) translateZ(10rem);
}
  
.carousel_face:nth-child(6) {
    transform: rotateY(300deg) translateZ(10rem);
}
}
  
@media only screen and (max-width: 375px) {
.carousel_face:nth-child(1) {
    transform: rotateY(0deg) translateZ(5rem);
}
  
.carousel_face:nth-child(2) {
    transform: rotateY(60deg) translateZ(5rem);
}
  
.carousel_face:nth-child(3) {
    transform: rotateY(120deg) translateZ(5rem);
}
  
.carousel_face:nth-child(4) {
    transform: rotateY(180deg) translateZ(5rem);
}
  
.carousel_face:nth-child(5) {
    transform: rotateY(240deg) translateZ(5rem);
}
  
.carousel_face:nth-child(6) {
    transform: rotateY(300deg) translateZ(5rem);
}
  
.carousel_content {
    margin: 0;
    font-size: 1.6rem;
}
}
  
@keyframes rotate360 {
    from {
    transform: rotateY(0deg);
    }
  
    to {
    transform: rotateY(-360deg);
    }
}


/*==============
 * Mis Servicios *
===============*/
.skills__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 35px;   

}
.card {
    border: 1px inset var(--color-text--ligth);
    border-radius: 10px;
    width: 180px;
    height: 200px;
    margin: 15px;
    background-color: white;

}
.card__body{
    text-align: center;
    
}

.card__title {
    color: var(--color-text--ligth);
    font-size: 19px;
    text-align: center;
}

.card-text {
    color:var(---color--subtitle--);
    font-size: 15px;
    margin: 5px 5px;
   
}
.card__img img{
    width: 50px;
    height: 50px;
    margin-top: 7px;

}

.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


/*==============
 * Mis Proyectos *
===============*/
.card_container {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 35px;   

}

.card-proyect {
    width: 400px;
    height: 300px;
    border: 1px solid;
    border-radius: 10px;
    background-image: url(/assents/img/ecomerce.png);
    background-size: contain;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 8);
    background-repeat: no-repeat;
    position: relative;
}

.card2 {
    background-image: url(/assents/img/weater.png);
}

.hidden {
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    opacity: 0;
}


.hidden:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}


/*.slider {
	width: 40%;
	margin: auto;
	overflow: hidden;
    
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}*/

.container__contact{
    display: flex;
    justify-content: center;
    margin: 0 15% 0 15%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: none;


}
.contact__body{
    width: 100px;
    height: 100px;
    box-shadow: 0px -5px 10px 0px rgba(253, 249, 249, 0.5);
    background-color: white;
    border-radius: 30%;
    margin-top: 20px;
    
}
.contact__body i{ 
    font-size: 4rem;
    margin-top: 20px;
    color: black;
    
}
.box__icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__contenedor{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    color: var(---color--navbar---);
   
}
.footer__contenedor__texto {
    text-align: center;
    padding-bottom:  50px;
   
}
.footer__contenedor__texto p{
    color:black;
    font-size: 1.5rem;
    animation-duration: 3s;
    animation-name: slidein;
    margin-top: 50px;
}
.footer__social {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 10px;
}

.footer__social i {
    font-size: 30px;
    color: #a9a9a9;
    transition: all .3s ease-in-out;

}

.footer__social i:hover {

    color: var(--color-text--ligth);
    font-size: 45px;

}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
      
    to {
        margin-left: 0%;
        width: 100%;
        }
}

/*=====================================
 * Media Querys siempre abajo de todo *
======================================*/
 
@media (min-width: 768px) {
.navbar {
    height: 90px;
}

.hero .circle::before {
    top: 50%;
    left: 50%;
    width: 520px;
    height: 520px;
    transform: translateY(-50%) translateX(-50%);
}
    
.hero .circle::after {
    top: 50%;
    left: 50%;
    width: 550px;
    height: 550px;
    transform: translateY(-50%) translateX(-50%);
}
    
.cont__info {
     margin-top: 40rem;
}
    
.cont__info h1 {
    font-size: 3rem;
 }
    
.cont__info h3 {
    font-size: 2rem;
}

.hero button, .navbar ul .icon-x {
    display: none;
}

.section{
    /*height: 50vh;*/
    padding: 2rem 0 2.5rem;          
}
.section-habilidades{
   /* height: 50vh;*/
    padding: 1rem 0 1rem;   
}
.section-slider{
  /*  height: 60vh;*/
    padding: 2rem 0 2.5rem;
}

.section-title {
    font-size: 3rem;
    color: white;
}
.title-sincolor {
    color: var(--color-text--ligth);
}

.about {
    padding: 2rem 20px;
    text-align: center;
    height: 100%;
    font-size: 1.5rem;
}
.about p {
    color: black;
    font-size: 1.25rem;
    padding: 0 30px 0 30px;
}
.container__contact{
   
    justify-content: center;
    gap: 2rem;

}
}
  
@media only screen and (max-width: 580px) {
.carousel_face:nth-child(1) {
    transform: rotateY(0deg) translateZ(10rem);
}
  
.carousel_face:nth-child(2) {
    transform: rotateY(60deg) translateZ(10rem);
}
  
.carousel_face:nth-child(3) {
    transform: rotateY(120deg) translateZ(10rem);
}
  
.carousel_face:nth-child(4) {
    transform: rotateY(180deg) translateZ(10rem);
}
  
.carousel_face:nth-child(5) {
    transform: rotateY(240deg) translateZ(10rem);
}
  
.carousel_face:nth-child(6) {
    transform: rotateY(300deg) translateZ(10rem);
}
.carousel_p {
    margin: 0;
    font-size: 1rem;
}
.carousel_content i{
    font-size: 1rem;
}
}
  
@media only screen and (max-width: 375px) {
.carousel_face:nth-child(1) {
    transform: rotateY(0deg) translateZ(5rem);
}
  
.carousel_face:nth-child(2) {
    transform: rotateY(60deg) translateZ(5rem);
}
  
.carousel_face:nth-child(3) {
    transform: rotateY(120deg) translateZ(5rem);
}
  
.carousel_face:nth-child(4) {
    transform: rotateY(180deg) translateZ(5rem);
}
  
.carousel_face:nth-child(5) {
    transform: rotateY(240deg) translateZ(5rem);
}
  
.carousel_face:nth-child(6) {
    transform: rotateY(300deg) translateZ(5rem);
}
  
.carousel_content {
    margin: 0;
    font-size: 1.6rem;
}
.carousel_p {
    margin: 0;
    font-size: .75rem;
}
.carousel_content i{
    font-size: .75rem;
}

}
  
@keyframes rotate360 {
    from {
    transform: rotateY(0deg);
    }
  
    to {
    transform: rotateY(-360deg);
    }
}

    


