@media screen and (min-width:800px) {

    nav label img{
        display: none;
    }
    nav ul{
        flex-direction: row;
        position: relative;
        justify-content: right;
        right: 0;
        top: 0;
        transition: none;
    }

    .cont__content{
        font-size: 2rem;
    }
    .title__ppal{
        width: 20%;
    }
    .title__ppal h1{
        font-size: 5rem;
    }
    .iconos{
        width: 80%;
        padding: 30px 60px;
        margin-bottom: 10rem;
    }
}